requests==2.23.0
pyodbc==4.0.30
uptime==3.0.1
cryptography==2.8
pywin32==227
wxPython==4.0.7.post2
lxml==4.5.0
keyboard==0.13.4
pyperclip==1.7.0
schedule==0.6.0
psutil==5.7.0
json2html==1.3.0
beautifulsoup4==4.9.0
win32gui==221.6
