pyperclip==1.7.0
requests==2.23.0
keyboard==0.13.4
json2html==1.3.0
pyodbc==4.0.30
schedule==0.6.0
pywin32==227
lxml==4.5.0
cryptography==2.8
psutil==5.7.0
uptime==3.0.1
wxPython==4.0.7.post2
beautifulsoup4==4.9.1
win32gui==221.6
