uptime==3.0.1
pywin32==224
requests==2.22.0
wxPython==4.0.4
lxml==4.4.1
psutil==5.6.5
pyperclip==1.6.4
pyodbc==4.0.24
keyboard==0.13.3
schedule==0.6.0
cryptography==2.8
beautifulsoup4==4.8.2
win32gui==221.6
